*{
    box-sizing: border-box;

}
:root{
    --primary-color: #ab2a2a;
}
body{
    margin: 0;
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    padding: 20px;
    margin: 0 0 5px;
    background-color: white;
}
 .word-game {
   text-align: center;
   width: 1000px;
   margin: 20px auto;
   display: flex;
   align-items: flex-start;
   justify-content: space-between; 
   .game{
      
    .inputs{
        > div{
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                font-size: 30px;
                margin-right: 10px;
                font-weight: bold;
            }


        }
        .disabled-inputs{
            opacity: 0.5;
            pointer-events: none;
        }
        input{
            margin: 0 5px;
            width: 40px;
            height: 40px;
            text-align: center;
            font-size: 40px;
            background-color: white;
            caret-color: var(--primary-color);
            border: none;
            border-bottom: 3px solid #333 ;
            &:focus{
                outline-color: #ccc;
            }
             &.inplace{
                background-color: #f89e13;
                border: #f89e13;
                color: white;
            }
            &.notinplace{
                 background-color: #18ba89;
                 border: #18ba89;
                 color: white;

            }
            &.letterwrong{
                 background-color: #27303f;
                 border: #27303f;
                 color: white;

            }
        }
    }
    .control{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        margin: 30px auto;
        gap: 10px;
        .check{
            border: none;
            font-size: 25px;
            padding: 15px 20px;
            border-radius: 6px;
            background-color: var(--primary-color);
            color: white;
            cursor: pointer;
            font-weight: bold;
            flex: 1;
        }
        .hint{
            border: none;
            font-size: 25px;
            padding: 15px 20px;
            border-radius: 6px;
            background-color: #009688;
            color: white;
            cursor: pointer;
            font-weight: bold;
            width: fit-content;

        }
         button:disabled {
        background-color: black;
        opacity: 0.4;
        cursor: no-drop;
      }
    }


   }
   .key-colors{
    .key-color{
        display: flex;
        align-items: center;
        padding: 15px;
        background-color: white;
        margin-bottom: 10px;
        .key{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
            &.inplace{
                background-color: #f89e13;
                border: #f89e13;
                color: white;
            }
            &.notinplace{
                 background-color: #18ba89;
                 border: #18ba89;
                 color: white;

            }
            &.letterwrong{
                 background-color: #27303f;
                 border: #27303f;
                 color: white;

            }
        }
        .key-text{
            font-size: 20px;
            font-weight: bold;
        }
    }

   }
}

.message{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    span{
        font-weight: bold;
        display: block;
        font-size: 40px;
        color: var(--primary-color);
        text-transform: capitalize;
        
    }
    p{
        margin-top: 15px;
    }
}

footer{
    text-align: center;
    padding: 20px;
    text-transform: capitalize;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
}

@media (max-width: 1024px) {
  .word-game {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .game, .key-colors {
    width: 100%;
    margin: 0 auto 20px;
  }
}
